.best-sellers {
    padding: 30px 5%;
}

@media (min-width: 1024px) {
    .best-sellers {
        padding: 40px 10%;
    }
}


.text {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.best-sellers .text h1 {
    position: relative;
}

.best-sellers .text h1::after {
    position: absolute;
    content: "";
    margin-top: 25px;
    margin-left: 10px;
    display: inline-block;
    width: 70px;
    height: 2px;
    background-color: black;
    ;

}