.footer {
    width: 100%;
    padding: 0 4% 40px;
    border-top: 1px solid #eee;
    margin-top: 80px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.input input {
    flex: 1;
    height: 48px;
    padding: 0 15px;
    outline: none;
    font-size: 14px;
}

.input button {
    width: 120px;
    height: 48px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.input button:hover {
    background-color: #333;
}


.end .box {
    cursor: pointer;
}